body{
    background-color:lightgrey;
    background-image: url("../images/background-img.jpg");
}
h1 {
    color:black black;
    text-align: left;
    font-weight: bold;
}
h2 {
    color: rgb(198, 139, 49);
    text-align: center;
}